@model BookManagement.ViewModels.TitleSearchViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div>@UserManager.GetUserId(User)</div>

@foreach (var item in Model.Results)
{
    @if(item.UserId == int.Parse(UserManager.GetUserId(User)))
    {
        <div>@item.Title</div>
    }
}


<h2>書籍検索</h2>

<form method="post">
    <div class="form-group">
        <label for="Title">タイトル:</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">検索</button>
        <a asp-action="Index" class="btn btn-secondary">リセット</a>
    </div>
</form>

@if (Model.Results != null && Model.Results.Any())
{
    <div>
        <h1>書籍一覧</h1>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>著者</th>
                    <th>出版年</th>
                    <th>返却予定日</th>
                    <th>貸出状況</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.PublishedYear</td>
                        <td>
                            @if (@item.ReturnDate == null)
                            {
                                <h6>-</h6>
                            }
                            else
                            {
                                @item.ReturnDate
                            }
                        </td>
                        <td>
                            @if (item.BorrowedStatus == true)
                            {
                                <span class ="text-danger">貸出中</span>
                            }
                            else
                            {
                                <span class ="text-primary">貸出可</span>
                            }
                        </td>
                        <td>
                            @if (item.BorrowedStatus == true)
                            {
                                @if (item.UserId == int.Parse(UserManager.GetUserId(User)))
                                {
                                    <a asp-controller="Books" asp-action="Return" asp-route-id="@item.Id">
                                        <input type="submit" value="返却する" class="btn btn-success" />
                                    </a>
                                }
                                else
                                {
                                    <span class="text-danger">貸出中</span>
                                }

                                @* <a asp-controller="Books" asp-action="Return" asp-route-id="@item.Id">
                                    <s><input type="submit" value="返却する" class="btn btn-success" /></s>
                                </a> *@
                            }
                            else
                            {
                                <a asp-controller="Books" asp-action="Confirm" asp-route-id="@item.Id">
                                    <input type="submit" value="貸出申請" class="btn btn-primary" />
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <p>該当する書籍が見つかりませんでした。</p>
}